/* Source Code Pro is an unmodified Adobe release (OFL 1.1). "Braille Mono" is
   an Adwaita Mono subset (OFL 1.1) carrying only U+2800-28FF for the
   playground's dot-matrix plots. License texts ship next to the font files. */
@font-face {
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/scp-regular.woff2) format("woff2");
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/scp-italic.woff2) format("woff2");
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/scp-bold.woff2) format("woff2");
}
@font-face {
  font-family: "Braille Mono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+2800-28FF;
  src: url(../fonts/braille-mono.woff2) format("woff2");
}
